# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# SQLite database files
data/*.db

# VS Code settings
.vscode/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env
*.env

# Python virtual environments
venv/
.env/